section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section div {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 30px;
}

.h12 {
  display: none;
}

section div:hover .h11 {
  display: none;
}

section div:hover .h12 {
  display: block;
}

section div:hover {
  color: white;
}

.name {
  background-color: #a52a2a;
  transition: all;
  transition-duration: 3s;
}

.name:hover {
  transform: scale(1.3);
}

.sur {
  background-color: #556b2f;
  transition: all;
  transition-duration: 3s;
}

.sur:hover {
  transform: translate(100%, -100%);
}

.number {
  background-color: #4b0082;
  transition: all;
  transition-duration: 1s;
}

.number:hover {
  transform: rotatey(360deg);
}

.city {
  background-color: #daa520;
  transition: all;
  transition-duration: 3s;
}

.city:hover {
  transform: skew(15deg);
}

/* footer */
footer {
  background-color: black;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  height: 300px;
  width: 300px;
  animation-name: kuruq;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.yer {
  width: 200px;
  position: relative;
  top: 50px;
  left: 50px;
  /* margin: 200px; */
  animation-name: kuruq;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ay {
  width: 50px;
  position: relative;
  top: 200px;
  left: 200px;
}

@keyframes kuruq {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

