header {
    background-color: black;
    padding: 10px 5%;
    width: 100%;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            color: white;
            padding: 8px 18px;
            &:hover {
                color: black;
                background-color: white;
                border-radius: 8px;
            }
        }
        li {
            a {
                text-decoration: none;
                color: white;
                padding: 8px 18px;
                &:hover {
                    color: black;
                    background-color: white;
                    border-radius: 8px;
                }
            }
        }
    }
  }